@(form: play.data.Form[Contact]) 
@import helper.twitterBootstrap._

@main("Dodaj kontakt") {
	
	@helper.form(routes.Contacts.save) {
		@if(form("id").value() != null) {
			@helper.inputText(form("id"), 'type -> "hidden", 
				'_label -> "")
		}
		@helper.inputText(form("firstName"), '_label -> "Imię")
		@helper.inputText(form("lastName"), '_label -> "Nazwisko")
		@helper.inputText(form("companyName"), '_label -> "Nazwa firmy")
		@helper.inputText(form("phoneNumber"), '_label -> "Numer telefonu")
		@helper.inputText(form("email"), '_label -> "Email", 'type -> "email")
   		<p>
       		<button class="btn btn-submit" type="submit">Login</button>
   		</p>
	}
}