@(contacts: List[java.lang.reflect.Field], data: Map[_,_])

@main("Welcome to Play") {
	<table> 
	<thead>
		<tr>
		@for(contact <- contacts) {
  			<th>@contact.getName()</th>
		} 
		</tr>
	</thead>
	
	<tbody>
		@for((key, value) <- data) {
			<tr>
			@for(field <- contacts) {
				@field.setAccessible(true)
	  			<td>@field.get(value)</td>
			} 
			</tr>
		}
	</tbody>
}
