@(form: play.data.Form[Frontend.Login])
@import helper.twitterBootstrap._

@main("Logowanie") {
		
	@helper.form(routes.Frontend.auth) {	
		@helper.inputText(form("username"), '_label -> "Login")
		@helper.inputText(form("password"), '_label -> "Hasło")
		
   		<p>
       		<button class="btn btn-submit" type="submit">Login</button>
   		</p>
	}
}
